<div *ngIf="windowData.display">
    <div *ngIf="windowData.showHintWindow"
      class="hint-window"
      [ngStyle]="information.hintWindowStyle">

    </div>
    <div [id]="windowData.windowId" 
        class="window-container"
        [ngStyle]="windowData.style"
        (window:resize)="onResize()"
        (mouseup)="releaseEdges($event)"
        (mousedown)="checkEdges($event);focus()">
        <div class="window-header">
            <div class="window-name"
                (mousedown)="dragWindow($event)"
                (dblclick)="fullscreen()"
                (mouseup)="unDragWindow($event)">
                {{windowData.appName}}
            </div>
            <div class="window-button-grup">
                <button class="hide-button" (click)="hideWindow()">-</button>
                <button class="fullscreen-button" (click)="fullscreen()">#</button>
                <button class="close-button" (click)="close()">x</button>
            </div>
        </div>
        <div class="window-body" [ngSwitch]="windowData.appName">
            <app-calculator *ngSwitchCase="'calculator'" class="application"></app-calculator>
            <app-callender *ngSwitchCase="'callender'" class="application"></app-callender>
            <app-convertor *ngSwitchCase="'convertor'" class="application"></app-convertor>
            <app-gallery *ngSwitchCase="'gallery'" class="application"></app-gallery>
            <app-todo-list *ngSwitchCase="'todoList'" class="application"></app-todo-list>
        </div>
    </div>
</div>